
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Show Profile", "ShowProfile")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Show Employees", "ShowEmployee", "Admin")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Show Members", "ReturnMembers", "Employee")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Show Books", "ShowBooks", "Member")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Show Nodifications", "SelectNodification")</li>

    </ol>
</nav>

